/* fisst contener */
@media (max-width: 786px) {
  .contener {
    width: 750px;
  }
}

@media (max-width: 986px) {
  .contener {
    width: 950px;
  }
}

@media (max-width: 1200px) {
  .contener {
    width: 1150px;
  }
}

/* burger logo + ul */

@media (max-width: 600px) {
  .header-ul {
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease;
    position: absolute;
    top: 76px;
    left: 5px;
    margin-left: 0;
    padding-left: 0;
  }
  .active {
    opacity: 1;
    visibility: visible;
    position: absolute;
    bottom: -25px;
    left: 25px;
    gap: 11px;
    padding: 0;
  }

  .prent-header .i-none {
    display: block;
    position: relative;
  }
}

@media (max-width: 400px) {
  .active {
    opacity: 1;
    visibility: visible;
    position: absolute;
    bottom: -25px;
    left: 8px;
    padding: 0;
  }
  li a {
    font-size: 12px;
    font-weight: 400;
  }
}

/* header logo */

@media (max-width: 950px) {
  .header-i i {
    font-size: 25px;
  }
  .header-i p {
    font-size: 15px;
    font-weight: 400;
  }
  li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-purches {
    padding: 0 15px;
    margin-right: 20px;
  }
  .header-purches p {
    font-size: 10px;
    font-weight: 500;
    margin: 10px 0;
  }

  .header-purches i {
    font-size: 15px;
  }
}

/* .other-services */

@media (max-width: 768px) {
  .Other-Services {
    gap: 20px;
    transform: translatey(0px);
    right: 0px;
    flex-wrap: wrap;
  }
}

/* cpmpewter */

@media (max-width: 1200px) {
  .contener-compewter {
    width: 600px;
    margin-right: 15px;
  }
  .contener-list {
    width: 295px;
  }
  .contener-list h2 {
    font-size: 40px;
  }
}

@media (max-width: 950px) {
  .contener-compewter {
    width: 430px;
    position: absolute;
    right: 0;
  }
}
/* list + compewter */
@media (max-width: 700px) {
  .contener-list {
    width: 330px;
  }
  .contener-list h2 {
    font-weight: 400;
    font-size: 40px;
  }

  .contener-list p {
    font-weight: 300;
    font-size: large;
    margin-right: 16px;
  }

  .contener-list a {
    padding: 5px 15px;
  }
  .contener-compewter {
    display: none;
  }
}

/* TrustedBy */

@media (max-width: 768px) {
  .TrustedBy-contener {
    justify-content: center;
    margin-left: 12px;
    margin-right: 25px;
  }
}

/* Features */

@media (max-width: 768px) {
  .Features {
    padding-top: 75px;
  }
  .Features p:nth-child(2) {
    margin: 10px;
    font-size: 15px;
    text-align: center;
    width: fit-content;
  }
}

/* work steap */

@media (max-width: 768px) {
  .steap span {
    font-size: 35px;
  }

  .steap h2 {
    font-size: 25px;
  }

  .steap p {
    font-size: 15px;
  }
}

/* Testimonials */

@media (max-width: 768px) {
  .Testimonials h2:first-child {
    left: 70px;
    margin: 10px auto;
    width: fit-content;
    left: 0;
  }

  .Testimonials .p {
    margin: 20px auto;
    font-size: 15px;
    text-align: center;
    width: fit-content;
    left: 0;
  }
}

@media (max-width: 768px) {
  .Testimonials-box-flex {
    margin: auto 10px auto 0;
    flex: 0 0 350px;
    padding: 20px 0;
  }
  .Testimonials-box-flex-p {
    font-size: 12px;
  }
  .Testimonials-box-flex span {
    font-size: 10px;
  }
}

/* Pricing */

@media (max-width: 768px) {
  .Pricing .Pricing-contener {
    margin-top: 65px;
    padding-top: 0px;
  }
  .Pricing-p {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .free {
    margin: 38px 300px;
    text-align: center;
  }
  .free-h2 {
    width: 400px;
  }
}

/* sidel +sider */

@media (max-width: 768px) {
  .sider {
    position: absolute;
    left: 40px;
  }
  .sidel {
    position: absolute;
    z-index: 2025;
    right: 40px;
  }
}

/* fade-in-right */

@media (max-width: 768px) {
  .fade-in-right {
    transform: translateX(20px);
  }
}

/* head-list */

@media (max-width: 768px) {
  .head-list {
    font-size: 20px;
    letter-spacing: 1.7px;
  }
}

/* Questions */
@media (max-width: 768px) {
  .Questions::before {
    width: 350%;
  }
}
@media (max-width: 768px) {
  .faq-question {
    width: 360px;
  }

  .faq-question-img img {
    width: 25px;
    height: 25px;
  }

  .faq-question-img h2 {
    font-size: 13px;
  }
  .faq-icon {
    font-size: 15px;
  }
  .top-answer {
    max-height: 80px;
    font-size: 12px;
  }
}
